body {
    position: relative;
    background-color: #000;
    color: #fff;
    font-family: Helvetica, sans-serif;

    /* Allow mouse dragging. */
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    -webkit-user-select: none;
    user-select: none;

    /* disable touch panning/zooming */
    -ms-touch-action: none;
    touch-action: none;

    /* Allow canvas to hit the edges of the browser viewport. */
    margin: 0;
}

#screen canvas {
    margin: auto;

    /* Hide the gap for font descenders. */
    display: block;

    /* disable scaling interpolation */
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: optimize-contrast;
    image-rendering: pixelated;
    -ms-interpolation-mode: nearest-neighbor;
}

.hud {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
}

.hud > .score {
    position: absolute;
    bottom: 30px;
    right: 30px;
    font-size: 1.5rem;
}

.hud > .arena {
    font-size: 1.5rem;
    position: absolute;
    bottom: 30px;
    left: 20px;
}